*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}


@font-face {
    font-family: 'Outfit';  
    src: url('../fuentes/Outfit-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}

.tarjeta{
    background-color: white;
    width: 300px;
    height: 460px;
    border-radius: 15px;
    

}

.imagen {
    background-image: url('../images/image-qr-code.png');
    background-repeat: no-repeat; /*Asegura que la imagen no se repita*/
    background-position: center;  /*Centra la imagen*/
    background-size: contain;    /*Ajusta el tamaño de la imagen para que quepa dentro del div*/
    width: 270px;
    height: 270px;
    margin: 0 auto; /*Centra el div horizontalmente*/
    display: block; /*Asegura que el elemento se comporte como un bloque*/
    border-radius: 10px; /*Da un borde redondeado con un radio de 15 píxeles*/
}

h3 {
    font-family: 'Outfit', sans-serif; /*Asegura que se use la fuente Outfit*/
    font-weight: bold; /* Hace que el texto sea en negrita*/
    text-align: center; /*Centra el texto horizontalmente dentro del elemento*/
    margin-left: 35px; /*Le da margen al elemento en la izquierda*/
    margin-right: 35px; /*Le da margen al elemento en la derecha*/
    color: hsl(218, 44%, 22%);
    font-size: 20px; /*Tamaño de la fuente*/
}


p{
    font-family: 'Outfit', sans-serif;
    text-align: center;  /*Centra el texto dentro del elemento*/
    margin-left: 20px; /*Le da margen al elemento en la izquierda*/
    margin-right: 15px; /*Le da margen al elemento en la derecha*//
    color: hsl(216, 15%, 48%);
    font-size: 15px; /*Tamaño de la fuente*/
}